.app-header {
  background-color: var(--clr1);
  color: var(--gray1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
}

.app-nav {
  display: flex;
  gap: 15px;
}

@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
}
